/*HOMEPAGE ON LAPTOP */
.home-wrapper header {
    background-color: rgb(223, 1, 1);
    font-family: 'Lato', sans-serif;
    overflow:auto;
}

.home-wrapper header .logo {
    width:30%;
    float:left;
    padding-left: 2%;
    padding-bottom: 15px;
    padding-top: 15px;
}
.logo img{
    height:40px;
    width:190px;
}
.home-wrapper header nav{
    text-align: right;
    margin-right: 2%;
    margin-bottom: 15px;
    margin-top: 25px;
    width:66%;
    float: left;
}
header nav .signup {
    background-color :rgb(255, 255, 255);
    padding: 10px 12px;
    border-radius: 4px;
    color:rgb(255, 0, 0);
    font-weight: bold;
    
}
.signup:hover{
    background-color: #ccc;
}
header nav a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    margin-left:7%;
    font-size: 18px;
}
/*End of nav bar desktop view*/

.homecontent .notOnMobileBanner {
    width: 33%;
    float:left;
    height: 80vh;
    margin-top: 3%;
    background-image: url(./Images/OCBC\ NPARKS\ CIM\ POSTERS\ 14802.jpg);
    background-size: cover;
}


.homecontent #mainhomeContent {
    background-image: url(./Images/output-onlinepngtools.png);
    background-size: cover;
    padding-left: 2%;
    padding-right: 4%;
    width: 61%;
    float: left;
    height: 80vh;
    padding-top: 40px;
    
}
.homecontent #mainhomeContent .advfont {
    width:30%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 8%;
    padding-bottom: 8%;
    float:left;
    font-size: 55px;
    font-family: 'Lato', sans-serif;
    background-color: #cccccc2e;
    border-radius: 5px;
    text-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.755);
}
.homecontent #mainhomeContent .loginform {
    width:30%;
    float:left;
    margin-left: 20%;
    margin-top: 13%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 6%;
    background-color: rgb(223, 1, 1);
    color: white;
    border-radius: 10px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: rgb(232, 232, 232);
    color: rgb(255, 0, 0);
    font-weight: bolder;
    padding: 14px 20px;
    margin: 15% 0;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
}
.homecontent .addContent {
   float: left;
   padding-top: 2%;
   padding-bottom: 2%;
   font-size: 18px;
   font-family: 'Lato', sans-serif;

}
.homecontent footer {
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(223, 1, 1);

    padding-top: 2%;
}
.homecontent footer .logo {
    width: 30%;
    float:left;
    padding-left: 2%;
}
.homecontent footer .linksfooter {
    text-align: right;
}
.homecontent footer .linksfooter ul li {
    list-style-type: none;
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    text-decoration: underline;
}
.homecontent footer .termsNcondition {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color:white;
    padding-bottom: 2%;
    padding-left: 2%;
}
/*Fading animation*/
#fadein{
    opacity:0;
    transition:2s;
    animation: slide 1s forwards;
}
/*START OF CARDS CSS*/
.home-wrapper .homecontent .cardSignOverview{
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url(./Images/Singapore\ Skyline\ from\ OCBC\ Skywalk.jpg);
    background-size: cover;
    text-align: center;
}
.home-wrapper .homecontent .cardSignOverview #cardsmsg{
    background-color: #cccccc84;
    padding: 2%;
    text-shadow: 1.5px 1.5px black;
}


@media screen and (max-width:600px) {

    .homecontent .notOnMobileBanner{
        display:none;
        width: 0%;
        height: 0;
        padding: 0;
        float: none;
    }
    /*CENTRE NAV BAR FOR ALL THAT APPLIES*/ 
    .home-wrapper header nav {
        width: 98%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;

    }
    /*CENTRE OF LOGO FOR MOBILE*/
    .home-wrapper header .logo{
        display: flex;
        width: 96%;
        justify-content: center;
    }
    /* Mobile for index.html homepg*/
    .homecontent #mainhomeContent {
        width: 96%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: auto;
        
    }
    .homecontent #mainhomeContent .advfont {
        width:100%;

    }
    .homecontent #mainhomeContent .loginform{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 3%;
    }
}  
