/*HOMEPAGE ON LAPTOP */
.home-wrapper header {
    background-color: rgb(223, 1, 1);
    font-family: 'Lato', sans-serif;
    overflow:auto;
}

.home-wrapper header .logo {
    width:30%;
    float:left;
    padding-left: 2%;
    padding-bottom: 15px;
    padding-top: 15px;
}
.logo img{
    height:40px;
    width:190px;
}
.home-wrapper header nav{
    text-align: right;
    margin-right: 2%;
    margin-bottom: 15px;
    margin-top: 25px;
    width:66%;
    float: left;
}
header nav .signup {
    background-color :rgb(255, 255, 255);
    padding: 10px 12px;
    border-radius: 4px;
    color:rgb(255, 0, 0);
    font-weight: bold;
    
}
.signup:hover{
    background-color: #ccc;
}
header nav a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    margin-left:7%;
    font-size: 18px;
}
/*End of nav bar desktop view*/

.homecontent .notOnMobileBanner {
    width: 33%;
    float:left;
    height: 80vh;
    margin-top: 3%;
    background-image: url(./Images/OCBC\ NPARKS\ CIM\ POSTERS\ 14802.jpg);
    background-size: cover;
}


.homecontent #mainhomeContent {
    background-image: url(./Images/output-onlinepngtools.png);
    background-size: cover;
    padding-left: 2%;
    padding-right: 4%;
    width: 61%;
    float: left;
    height: 80vh;
    padding-top: 40px;
    
}
.homecontent #mainhomeContent .advfont {
    width:30%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 8%;
    padding-bottom: 8%;
    float:left;
    font-size: 48px;
    font-family: 'Archivo Black', sans-serif;
    background-color: #cccccc2e;
    border-radius: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.755);
}
.homecontent #mainhomeContent .loginform {
    width:30%;
    float:left;
    margin-left: 20%;
    margin-top: 13%;
    padding-left: 30px;
    padding-right: 30px;

    background-color: rgb(223, 1, 1);
    color: white;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
}
.homecontent #mainhomeContent .loginform h5 {
    font-size: 20px;
    text-shadow: 1px 1px rgb(56, 56, 56);
}

.homecontent #mainhomeContent .loginform input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.homecontent #mainhomeContent .loginform input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; /*included in the width, height, for pad and border*/
    border-radius: 4px;
}
.homecontent #mainhomeContent .loginform input[type=submit] {
    width: 100%;
    background-color: rgb(232, 232, 232);
    color: rgb(255, 0, 0);
    font-weight: bolder;
    padding: 14px 20px;
    margin: 15% 0;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
}
.homecontent .addContent {
   float: left;
   padding-top: 2%;
   padding-bottom: 2%;
   font-size: 18px;
   font-family: 'Lato', sans-serif;

}
.homecontent footer {
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(223, 1, 1);

    padding-top: 2%;
}
.homecontent footer .logo {
    width: 30%;
    float:left;
    padding-left: 2%;
}
.homecontent footer .linksfooter {
    text-align: right;
}
.homecontent footer .linksfooter ul li {
    list-style-type: none;
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    text-decoration: underline;
}
.homecontent footer .termsNcondition {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color:white;
    padding-bottom: 2%;
    padding-left: 2%;
}
/*Fading animation*/
#fadein{
    opacity:0;
    transition:2s;
    animation: slide 1s forwards;
}
/*START OF CARDS CSS*/
.home-wrapper .homecontent .cardSignOverview{
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url(./Images/Singapore\ Skyline\ from\ OCBC\ Skywalk.jpg);
    background-size: cover;
    text-align: center;
}
.home-wrapper .homecontent .cardSignOverview #cardsmsg{
    background-color: #cccccc84;
    padding: 2%;
    text-shadow: 1.5px 1.5px black;
}
.homecontent .cardsContainer{
    display: flex;
	width: 100%;
    flex-wrap: wrap; /*if unable to fit, wrap and pushes it down*/
}
.home-wrapper .homecontent .cardsContainer .flex-cardItem{
    background-color: #cccccc28;
    width: 30%;
    margin-left: 1.25%; /*for spacing inbetween left right*/
    margin-right: 1.25%;
    margin-bottom: 2%;
    padding-bottom: 3%;
    display: flex;
    flex-grow: 1; /*grow proportionally to other flex items.*/
    flex-basis: 15%; /*initially take up 15% of the available space*/
    flex-direction: column; /*pushes it down into column*/
    border-radius: 4px;
    border-color: black;
    border: 5px ridge;
    padding: 5px;  /*5+5px makes it able to split into 2 columns when resize*/
}

.homecontent .cardsContainer .flex-cardItem .flex-cardImg{
    display: flex;
    justify-content: center; /*middld alignment*/
    padding-top: 20px ;
}
.homecontent .cardsContainer .flex-cardItem .flex-cardImg img{
    height: 200px;
    width: 310px;
}


.homecontent .cardsContainer .flex-cardItem .flex-CardInfo{
    font-family: 'Lato', sans-serif;
}
.homecontent .cardsContainer .flex-cardItem .flex-CardInfo h4{
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.homecontent .cardsContainer .flex-cardItem .flex-CardInfo input[type="button"]{
    width: 33%;
    padding: 15px 18px; /*top-bot, r-l*/
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
    border: 2.5px solid rgb(24, 87, 247);
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(24, 87, 247);
}
.homecontent .cardsContainer .flex-cardItem .flex-CardInfo input[type="button"]:hover{
    transition: 1s;
    color:white;
    background-color: rgb(24, 87, 247);
}


@media screen and (max-width:700px){
    .homecontent .cardsContainer .flex-cardItem .flex-cardImg img{
        height: 150px;
        width: 260px;
    }
    .homecontent .cardsContainer .flex-cardItem .flex-CardInfo input[type="button"]{
        font-size: 10px;
    }
}
@media screen and (max-width:600px) {

    .homecontent .notOnMobileBanner{
        display:none;
        width: 0%;
        height: 0;
        padding: 0;
        float: none;
    }
    /*CENTRE NAV BAR FOR ALL THAT APPLIES*/ 
    .home-wrapper header nav {
        width: 98%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;

    }
    /*CENTRE OF LOGO FOR MOBILE*/
    .home-wrapper header .logo{
        display: flex;
        width: 96%;
        justify-content: center;
    }
    /* Mobile for index.html homepg*/
    .homecontent #mainhomeContent {
        width: 96%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; /*opp of column */
        height: auto;
        
    }
    .homecontent #mainhomeContent .advfont {
        width:100%;
    }
    .homecontent #mainhomeContent .loginform{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 3%;
    }
    /*CARDS RESPONSIVE*/
    .home-wrapper .homecontent .cardsContainer .flex-cardItem{
        width: 100%;
    }
    .homecontent .cardsContainer .flex-cardItem .flex-cardImg img{
        height: 200px;
        width: 310px;
        /* change back to default size*/
    }
    .homecontent .cardsContainer .flex-cardItem .flex-CardInfo input[type="button"]{
        font-size: 15px;
    }

}  
